.intro-section {
  padding: 5% 25%;
}

.team-section {
  padding: 5% 7.5%;
  text-align: center;
  .team-members {
    display: flex;
    margin: 5% 0;
    h3 {
      margin: 5% 0;
    }
    img {
      padding: 10%;
    }
    p {
      padding: 10%;
    }
  }
}
