footer {
  background-color: @secondary-gray;
  .flex-column();
  align-items: center;
  padding: 2.5% 10%;
  @media @tablet {
    padding: 5% 10%;
  }
  nav {
    .flex-row();
    justify-content: space-around;
    margin: 5% 0;
    width: 20%;
    @media @tablet {
      margin-bottom: 10%;
      width: 30%;
    }
    @media @mobile {
      width: 50%;
    }
    a {
      color: white;
      font-size: @h2-size;
      @media @tablet {
        font-size: @h3-size;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    color: white;
  }
}
